$primaryColor: #1c1819;
$primaryFont: 'Open Sans', sans-serif;
$backgroundGray: #f2f2f3;
$red: #f33;
$badge: #64bd38;
$gray: #888b94;
$lightGreen: #5cef5c;
$inputBorder: 4px solid rgba(71, 71, 175, 0.85);
$normalFont: normal;
$BoldFont: 600;
$navColor: #4dabff;
$white: white;
$mainBtnHov: #38ff93;
$mainGet: #eff8eb;
$mainQue: #fffae7;
$mainGift: #e9f2fb;
$mainLab: #d6ecfb;
$lightBlue: #2a81dd;
$footerBtnBck: #5cef5c;
$footerBtnCol: #d6ffff;
$balanceWhity: #f0fafd;

@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
